<html lang="en">
<body>
<div
        style="
        background-color: rgb(224, 235, 235);
        padding: 2%;
        width: 96%;
        border-radius: 15px;
      "
>
    <div style="background-color: white; padding: 10px; border-radius: 15px">
        <div
                style="
            background-color: rgb(239, 245, 245);
            padding: 5px;
            border-radius: 15px;
          "
        >
            <div style="display: flex; justify-content: center">
                <div style="margin-left: 10%; width: 80%">
                    <div style="background-color: white; border-radius: 10px; padding-bottom: 20px">
                        <div style="
                    height: 400px;
                    width: 100%;
                    background-image: url('https://res.cloudinary.com/logicielapplab/image/upload/v1662686071/DiveEvolution/Mail/animal-g156cc9eeb_1280-min_nx0pxc.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  ">
                            <p style="
                            text-align: center;
                            padding-top:30%;
                            color: white;
                            font-size: xx-large;
">
                                Dive Evolution te da la bienvenida!
                            </p>
                        </div>
                        <p
                                style="
                    text-align: center;
                    font-size: x-large;
                    margin-left: 18px;
                    margin-right: 18px;
                  "
                        >
                            Gracias por escribirnos. Un asesor se pondrá en contacto contigo.
                        </p>
                        <p
                                style="
                    font-size: larger;
                    text-align: center;
                    margin-left: 5%;
                    margin-right: 5%;
                  "
                        >

                            <span style="font-weight:bold">
                                Somos un Centro de enseñanza recreativa bajo las normativas y directrices PSS
                                (Professional Scuba School),
                                una de las Organizaciones Formativas de buceadores más importantes a nivel mundial.
                            </span>
                        </p>
                        <a href="https://www.diveevolutiongps.com/" style="text-decoration: none">
                            <div style="
                        background-color: plum;
                        margin-left: auto;
                        width: 90px;
                        height: 25px;
                        margin-right: auto;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        border-radius: 10px;
                        color: white;
                        font-size: large;
">
                                <p style="text-align: center; color: white; margin: 0px; padding: 0px">
                                    Ver más!
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div
                    style="display: flex; justify-content: space-around; margin: 40px"
            >
                <a
                        href="https://www.facebook.com/profile.php?id=100079182216754"
                        style="
                background-color: white;
                border-radius: 20px;
                padding-top: 2px;
                margin-right: 30px;
                width: 32px;
                height: 32px;

              "
                        target="_blank"
                >
                    <img
                            src="https://res.cloudinary.com/logicielapplab/image/upload/v1662483132/DiveEvolution/Footer/facebook500-min_dso86k.png"
                            alt=""
                            style="width: 30px; height: 30px"
                    />
                </a>
                <a
                        href="https://www.instagram.com/dive_evolution_gps/"
                        style="
                background-color: white;
                border-radius: 20px;
                padding-top: 2px;
                margin-right: 30px;
                width: 32px;
                height: 32px;
              "
                        target="_blank"
                >
                    <img
                            src="https://res.cloudinary.com/logicielapplab/image/upload/v1662483132/DiveEvolution/Footer/instagram500-min_e7hrgs.png"
                            alt=""
                            style="width: 30px; height: 30px"
                    />
                </a>
                <a
                        href="https://api.whatsapp.com/send/?phone=593986580588"
                        style="
                background-color: white;
                border-radius: 20px;
                padding-top: 2px;
                margin-right: 30px;
                width: 32px;
                height: 32px;
              "
                        target="_blank"
                >
                    <img
                            src="https://res.cloudinary.com/logicielapplab/image/upload/v1662483132/DiveEvolution/Footer/whatsapp500-min_mym2xs.png"
                            alt=""
                            style="width: 30px; height: 30px"
                    />
                </a>
            </div>
            <p style="text-align: center; font-size: small">
                ©2022 | Desarrollado por
                <a
                        style="text-decoration: none; color: black; font-weight: 900"
                        href="https://www.logicielapplab.com/"
                        target="_blank"
                >
                    LogicielApplab
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>